.idea
.DS_Store
**/npm-debug.log
**/node_modules
test
__tests__
src
build
gulpfile.js
rollup.config.js

.editorconfig
.prettierrc

# vscode
.vscode
.history
.github
api
docs


file-mock.js
.eslintignore
.eslintrc.js
.prettierignore
.release-it.json
babel.config.js
jest-preprocess.js
jest.config.ts
lerna.json
tsconfig.base.json
tsconfig.build.json
tsconfig.json
